[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
[submodule "iTerm2-Color-Schemes"]
	path = iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:sorin-ionescu/prezto.git
  ignore = dirty
