"*":
  core:
    disabledPackages: [
      "atom-elixir"
    ]
    telemetryConsent: "limited"
    themes: [
      "pristine-ui"
      "duotone-dark-space-syntax"
    ]
  editor:
    fontFamily: "'fira code'"
    fontSize: 13
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "848b278e-828b-4f4c-a88c-d1650e62e108"
  "fuzzy-finder":
    ignoredNames: [
      "**/node_modules/*"
    ]
  "linter-ui-default":
    panelHeight: 53
    showPanel: true
  "pristine-ui":
    tabSizing: "Even"
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
