"*":
  "atom-ternjs":
    useSnippetsAndFunction: true
  core:
    disabledPackages: [
      "welcome"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "\"Fira Code\""
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 2
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "01af7cd7-6327-4832-59c1-dd54bd129b10"
  "seti-syntax": {}
  "seti-ui":
    compactView: true
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
